@model Aplicacion_Prueba_Tecnica.Models.CLIENTE

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles del Cliente</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APELLIDOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_NACIMIENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_NACIMIENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NUMERO_DOCUMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMERO_DOCUMENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_DOCUMENTO.DESCRIPCION_TIPO_DOCUMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_DOCUMENTO.DESCRIPCION_TIPO_DOCUMENTO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_CLIENTE }) |
    @Html.ActionLink("Volver al Inicio", "Index")
</p>
