@model Aplicacion_Prueba_Tecnica.Models.NOTA_CREDITO_DEBITO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar notas crédito y débito</h2>

<h3>¿Está seguro que desea eliminar la Nota Crédito o Débito?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FECHA_REGISTRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_REGISTRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VALOR_NOTA_CREDITO_DEBITO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VALOR_NOTA_CREDITO_DEBITO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUENTA.ID_CUENTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUENTA.ID_CUENTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_CONDICION.DESCRIPCION_TIPO_CONDICION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_CONDICION.DESCRIPCION_TIPO_CONDICION)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista de notas", "Index")
        </div>
    }
</div>
